TOPCODER_API_BASE_URL="https://api.topcoder-dev.com/v5"

DB_USERNAME=topcoderuser
DB_PASSWORD=randompassword
DB_HOST=127.0.0.1
DB_PORT=5434
DB_NAME=walletdb
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable"